body{
	background: #f3f3f3;
}
a{
	cursor: pointer;
}
.clearfix a {
    font-size: 12px;
    color: #999;
    float: left;
}
.clearfix a:hover {
    color: #000!important;
}
.clearfix a:hover i{
    color: #000;
}
.clearfix p{
    display: inline-block;
}
.clearfix h5{
    font-weight: unset;
    margin: 0;
    font-size: 14px;
}
.clearfix {
    padding: 20px 0;
    min-height: 88px;
}
.clearfix i{
   color: #999;
}

.clearfix >span{
    padding: 0 15px 0 10px;
}
.products_block .product_list{
	margin-left: 0;
}
.cate_tips_box {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 0 15px 25px;
    color: white;
    background-color: #6bc15f;
    border-color: #6bc15f;
}
.cate_content_box {
    margin-bottom: 18px;
}
.panel-group .panel {
    border-radius: 0px;
}
.panel-group .panel > ul {
    padding-top: 0;
    padding-bottom: 0;
}
.panel-group .panel > ul > li {
    border-bottom: 1px solid #4e555e;
    padding: 15px 0;
    font-size: 12px;
    color: #8d9399;
}

.panel-group .panel:hover a{
    padding-left: 10px;
    color: #6bc15f;
    transition: all 0.8s;
}
.panel-group .panel > ul > li:hover {
    color: #6bc15f;
    transition: all 0.8s;
    cursor: pointer;
}
.panel-group .panel .baoguo i strong{
    color: #8d9399;
}
.panel-group .panel .baoguo a{
    font-size: 12px;
    color: #8d9399;
}
.panel-group .panel>i:hover{
    color: #f8694d;
    cursor: pointer;
}
.panel-group .panel:hover .baoguo a{
    color: #6bc15f;
}
.panel-group .panel:hover .baoguo i{
    color: #6bc15f;
}
.panel-group .panel:hover .baoguo i strong{
    color: #6bc15f;
}
.panel-group .panel > ul > li:last-child {
    border-bottom: none;
    padding: 15px 0;
    font-size: 12px;
    color: #8d9399
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.cate_box > li {
    background-color: #3b424c;
    padding: 15px 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    width: 100%;
}
.cate_box > li > a {
    font-size: 12px;
    color: #8d9399;
    text-decoration: none;
}
.cate_box > li > i{
    font-size: 12px;
    color: #8d9399;
    text-decoration: none;
}
.cate_box {
    position: relative;
    margin-left: 0;
}
.cate_box > li .dropdown-menu {
    position: absolute;
    top: 0;
    left: 283.5px;
}
.cate_box > li > a .fa:first-child {
    padding-right: 10px;
}
.products_block .title_block {
    color: white;
    position: relative;
    text-transform: uppercase;
    font-family: "Hind", sans-serif;
    padding: 15px 0 15px 25px;
    font-size: 18px;
    letter-spacing: 0px;
    background: #f8694d;
    font-weight: 700;
    line-height: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
}

.products_block .product_list .product-block .product-image-container {
    width: 38%;
    display: inline-block;
    vertical-align: 100%;
}

.products_block .product_list .product-block .product-container {

    background: #fff;
}

.products_block .product_list .ajax_block_product {
    padding: 15px 20px;
    background: #fff;
}

.products_block .product_list .product-block {
    margin:0;
}
.products_block .product_list .product-block .product-meta {
    display: inline-block;
}

.products_block .product_list {
    overflow: hidden;
}

.products_block .product_list .product-block .product-container p {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.products_block .product_list .product-block .product-container p:hover {
    color: #f8694d;
    transition: all 0.6s;

}
.products_block .product_list .product-block .product-image-container img {
    width: 100%;
}

.image-banner {
    margin-top: 18px;
}
.image-banner img{
    width: 100%;
}
.tooltip-inner{
	opacity: 0.6
}
.tooltip.top .tooltip-arrow{
	border-top-color: #666;
}
.main{
	margin-top: 30px;
}
.main .container{
	padding: 0;
	font-size: 12px;
}
.main .container [class^="col-"]{
	padding: 0;
}
.main .container .col-lg-9{
	padding: 0 0 0 18px;
}
.main .container a{
	transition: color 0.3s;
}
.main .container a:hover{
	text-decoration: none;
	color: #f8694d!important;
}
.main .container .right .top-img{
	overflow: hidden;
}
.main .container .right .top-img img{
	width: 873px;
	float: right;
}
.main .container .right .text{
	padding: 20px 50px 35px 20px;
	color: #999;
}
.main .container .right .text p{
	margin: 0;
}
.main .container .right .subcate{
	background: #fff;
	overflow: hidden;
	padding: 20px;
}
.main .container .right .subcate h5{
	font-size: 12px;
	font-weight: 600;
	margin: 0;
	line-height: 18px;
}
.main .container .right .subcate .links{
	margin: 0;
}
.main .container .right .subcate .links li{
	float: left;
	font-size: 12px;
}
.main .container .right .subcate .links li+li{
	margin-left: 40px;
}
.main .container .right .subcate .links li a{
	color: #666;
}
.main .container .right .centersort{
	background: #fff;
	padding: 6px 15px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 46px;
}
.main .container .right .centersort .left>span{
	margin-right: 5px;
	line-height: 30px;
	color: #777;
}
.main .container .right .centersort .left>div{
	overflow: hidden;
}
.main .container .right .centersort .left>div a{
	color: #ccc;
	width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    border: 1px solid #dddddd;
    margin-right: 5px;
    float: left;
    cursor: pointer;
    text-align: center;
    background: #FFF;
}
.main .container .right .centersort .left>div.action a{
	color: #000;
}
.main .container .right .centersort .left>div a i{
	font-size: 14px;
}
.main .container .right .centersort .left>div a>span{
	display: block;
}
.main .container .right .centersort .left>div a>span{
	display: none;
}
.main .container .right .centersort .middle span{
	float: right;
	color: #777;
	line-height: 32px;
	margin-right: 2px;
}
.main .container .right .centersort .middle select{
	height: 32px;
    padding: 5px 5px;
    font-size: 13px;
    line-height: 1.42857;
    color: #9c9c9c;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    float: right;
}
.main .container .right .centersort .right button{
	background: #666;
	font-size: 12px;
	color: #fff;
	cursor: unset;
	box-shadow: none;
	pointer-events: none;
	float: right;
}
.main .container .right .product_list{
	margin: 0;
	overflow: hidden;
	background: #fff;
	padding: 0;
}
.main .container .right .product_list li{
	padding: 0;
	position: relative;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    position: relative;
}
.main .container .right .product_list li:nth-child(4n+1){
	border-left: 1px solid #fff;
}
.main .container .right #grid.product_list li:hover .zz{
	opacity: 1;
}
.main .container .right .product_list li .zz{
	position: absolute;
	top: 120px;
	width: 100%;
	height: 160px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
}
.main .container .right .product_list li .zz .bom{
	background: #fff;
	opacity: 0.9;
	height: 100%;
}
.main .container .right .product_list li .zz .main{
	position: absolute;
	top: 20px;
	left: 50px;
	color: #f8694d;
	font-size: 13px;
}
.main .container .right .product_list li .zz .main .t{
	border: 2px solid #f8694d;
	border-radius: 100%;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 25px;
	margin: 0 5px;
}
.main .container .right .product_list li .zz .main .h:hover{
	background: #f8694d;
	color: #fff;
}
.main .container .right .product_list li .zz .main .addcart{
	border: 2px solid #f8694d;
	border-radius: 20px;
	width: 68%;
	height: 28px;
	text-align: center;
	line-height: 24px;
	margin-top: 15px;
	font-size: 12px;
	font-weight: 700;
}
#list li{
	cursor: unset;
	padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    border-left: unset;
}
#list li .product-block{
	padding: 0;
}
#list li .product-block .product-meta{
	width: 510px;
}
#list li .product-block .product-meta>p{
	color: #999;
	margin: 10px 0 20px 0;
}
#list li .image{
	width: 296px;
	position: relative;
	margin-right: 20px;
}
#list li .image img{
	width: 100%;
	cursor: pointer;
}
#list li .image:hover .zz{
	opacity: 1;
}
#list .zz{
	height: 265px;
	position: absolute;
	top: 0;
	left: 0;
}
#list .zz .main{
	top: 75px;
	left: 100px;
}
#list .zz .main .addcart{
	width: 60%;
}
#list .image a{
	position: absolute;
	top: -10px;
	right: 0px;
}
.product-block{
    padding: 20px 15px 20px 15px;
    position: relative;
    margin:0;
}
.product-block .product-meta{
    padding:0;
    margin: 0;
    position: relative;
}
/*---name(名字)--*/
.product-block .product-meta .name{
    text-transform: none;
    margin: 0 0 10px;
    line-height: 18px;
    min-height: 36px;
    max-height: 36px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}
.product-block .product-meta .name a{
    font-size: 12px;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-weight: 600;
}
/*---xx(星星图片)--*/
.product-block .product-meta img{
    font-size: 12px;
    margin-bottom: -10px;
    margin-left: -7px;
    margin-top:-5px;
    line-height: 18px;
    cursor: pointer;
}
/*---price(价格)--*/
.product-block .product-meta .price{
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left;
    font-family: "Hind", sans-serif;
    font-weight: 600;
    color: #f8694d;
    margin-top: 8px;
}
#grid .product-block .image img{
	width: 100%;
} 
.product_list .product-block .image a{
    background: url("../images/taiyang.png") no-repeat center left transparent;
}
.product_list .product-block .image .product-label{
    z-index: 99;
    line-height: 43px;
    min-width: 43px;
    max-width: 43px;
    overflow: hidden;
    left: auto;
    right: 20px;
    top: 100px;
    color: white !important;
    font-size: 10px;
    font-weight: 700;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
}
.main .container .right .listbom{
	padding: 6px 15px;
    font-size: 13px;
    color: #999;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    margin-top: -1px;
}
.main .container .right .listbom span{
	line-height: 30px;
}